.sidebar {
  width: 220px;
  background: #2c3e50;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover,
.sidebar .active {
  background-color: #1abc9c;
}
